<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.markovchain">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShakespeareRecylcler"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShakespeareMarkovRecycler"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BibleMain"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BibleMarkovFragment"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- Old or test activities not expected to be used except for learning purposes -->
        <activity
            android:name=".FragmentVersionSkeleton"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TestBenchMark"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>