<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.markovchain">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,DataExtractionRules,GoogleAppIndexingWarning,LockedOrientationActivity">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".shakespeare.ShakespeareActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".shakespearemarkov.ShakespeareMarkovActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bible.BibleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".biblemarkov.BibleMarkovActivity" />
        <activity
            android:name=".RetainedFragmentFunActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".benchmark.TestKotlinActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".clocktrisect.ClockTrisectActivity"
            android:label="@string/title_activity_clock_trisect"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".whatisman.WhatIsManActivity"
            android:label="@string/title_activity_what_is_man"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".transcend.TranscendActivity"
            android:label="@string/title_activity_transcend"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TestBedActivity" />
        <activity android:name=".benchmark.TestJavaActivity" />
        <activity android:name=".benchmark.TestSplitActivity" />
    </application>

</manifest>